div(class="container-fluid" id="directions")
    div(class="section-header text-center")
        h1 And how do I get there from ...
    div(class="row")
        div(class="col-sm travel-blurb")
            div(class="card")
                div
                    img(id="uk-man" class="card-img-top direction-img" src="/static/images/england.svg" alt="Card image")

                div(class="card-body")
                    h4(class="card-title") England
                    em Below is some information on flights from north and south airports...
                    br

                    div(class="card-text")

                        button(type="button" class="btn btn-info travel-info-btn" id="more-info-england-btn" onclick="displayInfo('#more-info-england-btn','#more-info-england')") More Info

                        div(class="more-info" id="more-info-england")
                            br
                            strong London Stansted:
                            br
                            | Rodez - Outbound &amp; inbound - Thursday &amp; Monday (Ryanair)
                            br
                            | Limoges – daily (Ryanair)
                            br
                            | Toulouse – daily (Ryanair)
                            br
                            | Bergerac – daily (Ryanair)
                            br
                            | Bordeaux – daily, other then Tuesdays (Ryanair)
                            br
                            | Carcassonne – daily (Ryanair)
                            br
                            br
                            strong London Gatwick:
                            br
                            | Toulouse - daily (Easyjet)
                            br
                            | Bordeaux - daily (Easyjet)
                            br
                            br
                            strong London Southend:
                            br
                            | Bergerac: Outbound &amp; inbound - Tuesday, Thursday &amp; Saturday (Ryanair)
                            br
                            br
                            strong London Luton:
                            br
                            | Bordeaux - daily (Easyjet)
                            br
                            br
                            strong Manchester:
                            br
                            | Bordeaux: Friday &amp; Monday (Easyjet). Wednesday &amp; Sunday (Ryanair)
                            br
                            | Limoges: Outbound &amp; inbound – Friday, Sunday &amp; Tuesday (Ryanair)
                            br
                            | Rodez: Outbound &amp; inbound – Wednesday &amp; Saturday (Ryanair)
                            br
                            | Bergerac: Outbound &amp; inbound – Saturday (Jet2)
                            br
                            | Carcassonne: Friday returning Monday (Ryanair)
                            br
                            br
                            strong Leeds:
                            br
                            | Limoges: Outbound &amp; inbound - Thursday &amp; Sunday (Ryanair)
                            br
                            br
                            strong East Midlands:
                            br
                            | Limoges: Outbound &amp; inbound – Thursday, Saturday &amp; Tuesday (Ryanair)
                            br
                            | Bergerac: Outbound &amp; inbound - Thursday &amp; Sunday (Ryanair)

        div(class="col-sm travel-blurb")
            div(class="card")
                img(id="canada-man" class="card-img-top direction-img" src="/static/images/canada.svg" alt="Card image")
                div(class="card-body")
                    h4(class="card-title") Canada
                    div(class="card-text")
                        em Flights from Montreal to Europe are already released for June 2021...
                        br

                        button(type="button" class="btn btn-info travel-info-btn" id="more-info-canada-btn" onclick="displayInfo('#more-info-canada-btn','#more-info-canada')") More Info

                        div(class="more-info" id="more-info-canada")
                            br
                            strong Paris CDG (Train, 5 hr drive or internal flight):
                            br
                            | Air Canada – direct daily flights
                            | Air Transit - direct daily flights
                            br
                            br
                            strong Toulouse (2 hr drive):
                            br
                            | Air Canada - 4 direct flights
                            | Air Transit - 4 direct flights
                            br
                            br
                            strong Bordeaux (3 hr drive):
                            br
                            | Air Transit – Ongoing - 4 (direct flights)
        div(class="col-sm travel-blurb")
            div(class="card")
                div
                    img(id="french-man" class="card-img-top direction-img" src="/static/images/france.svg" alt="Card image")

            div(class="card-body")
                h4(class="card-title") France
                div(class="card-text")
                    em Below is some information on trains in the area and local flights...
                    br

                    button(type="button" class="btn btn-info travel-info-btn" id="more-info-france-btn" onclick="displayInfo('#more-info-france-btn','#more-info-france')") More Info
                    div(class="more-info" id="more-info-france")
                        br
                        strong Trains from Brive:
                        br
                        | Direct trains to Figeac take an hour 15 mins.
                        br
                        | Figeac is 15 mins drive to the Chateau
                        br
                        br
                        strong Trains from Paris:
                        br
                        | Direct trains to Brive takes 4-5hrs
                        br
                        | Trains to Figeac require a change at Brive. Figeac is 15 mins drive to the chateau
                        br
                        br
                        strong Internal flights from Paris:
                        br
                        | Multiple flights a day to Brive & Rodez both which are an hour drive to the chateau
                        br
                        br
                        strong Trains from Toulouse:
                        br
                        | Direct trains to Capendac (2 hrs 15 mins) which is 15 mins to the chateau
                        br
                        br
                        strong Drive times
                        br
                        | Rodex - 1 hr
                        br
                        | Toulouse - 1 hr 45 mins
                        br
                        | Limoges - 2 hrs
                        br
                        | Bergerac - 2 hrs 15 mins
                        br
                        | Carcassonne - 2 hrs 30 mins
                        br
                        | Bordeaux Airport - 3 hrs
