div(class="container-fluid" id="directions")
    div(class="section-header text-center")
        h1 And how do I get there from ...
    div(class="row")
        div(class="col-sm travel-blurb")
            div(class="card")
                div
                    img(id="uk-man" class="card-img-top direction-img" src="/static/images/england.svg" alt="Card image")

                div(class="card-body")
                    h4(class="card-title") England

                    div(class="card-text")
                        em 2020 flights have not been released yet but based on summer 2019...
                        br

                        button(type="button" class="btn btn-info travel-info-btn" id="more-info-england-btn" onclick="displayInfo('#more-info-england-btn','#more-info-england')") More Info

                        div(class="more-info" id="more-info-england")
                            br
                            strong Brive (1 hr drive):
                            br
                            | Stansted - Ryanair flies 2 times a week<br/>
                            br
                            strong Rodez (1 hr drive):
                            br
                            | Stansted - Ryanair flies 2 times a week<br/>
                            br
                            strong Toulouse (1 hr 50 drive):
                            br
                            | Stansted, Gatwick, Heathrow & Luton – daily flights
                            br
                            | Manchester - Flybe flies 5 days a week<br/>
                            br
                            strong Limoges (2 hr drive):
                            br
                            | Leeds & Manchester – Ryanair flies 2/3 days Stansted – daily flights
                            br
                            br
                            strong Bergerac (2 hr 20 drive):
                            br
                            | Leeds/Bradford – Jet2 flies 1-2 times a week<br/>
                            br
                            strong Bordeaux (3 hr drive):
                            br
                            | Manchester – Ryanair & Easyjet flies 2 times a week
                            br
                            | Stansted, Gatwick, Heathrow & Luton – daily flights

        div(class="col-sm travel-blurb")
            div(class="card")
                img(id="canada-man" class="card-img-top direction-img" src="/static/images/canada.svg" alt="Card image")
                div(class="card-body")
                    h4(class="card-title") Canada
                    div(class="card-text")
                        em Flights from Montreal to Europe are already released for June 2020...
                        br

                        button(type="button" class="btn btn-info travel-info-btn" id="more-info-canada-btn" onclick="displayInfo('#more-info-canada-btn','#more-info-canada')") More Info

                        div(class="more-info" id="more-info-canada")
                            br
                            strong Paris CDG (Train, 5 hr drive or internal flight):
                            br
                            | Daily direct flights
                            | Air Transat seems the cheapest
                            br
                            br
                            strong Toulouse (2 hr drive):
                            br
                            | Direct flights with Air Transat 4 times a week
                            br
                            br
                            strong Bordeaux (3 hr drive):
                            br
                            | Direct flights with Air Transat 4 times a week
        div(class="col-sm travel-blurb")
            div(class="card")
                div
                    img(id="french-man" class="card-img-top direction-img" src="/static/images/france.svg" alt="Card image")

            div(class="card-body")
                h4(class="card-title") France
                div(class="card-text")
                    em Below is some information on trains in the area and local flights...
                    br

                    button(type="button" class="btn btn-info travel-info-btn" id="more-info-france-btn" onclick="displayInfo('#more-info-france-btn','#more-info-france')") More Info
                    div(class="more-info" id="more-info-france")
                        br
                        strong Trains from Brive:
                        br
                        | Direct trains to Figeac take an hour 15 mins.
                        br
                        | Figeac is 15 mins drive to the Chateau
                        br
                        br
                        strong Trains from Paris:
                        br
                        | Direct trains to Brive takes 4-5hrs
                        br
                        | Trains to Figeac require a change at Brive. Figeac is 15 mins drive to the chateau
                        br
                        br
                        strong Internal flights from Paris:
                        br
                        | Multiple flights a day to Brive & Rodez both which are an hour drive to the chateau
                        br
                        br
                        strong Trains from Toulouse:
                        br
                        | Direct trains to Capendac (2 hrs 15 mins) which is 15 mins to the chateau
