include header.pug
div(class="App")
    div(class="parallax slide-3")
        include welcomeImg.pug

    div(class="content-text" id="info")
        div(class="section-header text-center")
            include welcome.pug

        | We are getting married in the beautiful Chateau de Beduer, which is in a little village called Beduer in Lot, France on Saturday 27th June 2020 and would love for you to join us!
        br
        br
        | From Friday to Monday we have the exclusive use of the Chateau, grounds and Gites for the wedding and the weekend festivities.
        br
        br
        | We will be providing food and drinks - however if there is anything specific you would enjoy please feel free to bring anything you like as there will be no official bar or on-site restaurant.
        br
        //- if !name
        //-     button(class="btn btn-info btn-large" id="rsvp-quick-link") RSVP NOW
    include divider.pug

    include timeline.pug

    div(class="parallax slide-4")

    include divider.pug

    include where.pug

    include divider.pug

    include directions.pug

    div(class="parallax slide-1")

    include divider.pug

    include sleeping.pug

    include divider.pug

    //- if name
    //-     | Thanks #{name} for your RSVP.  If you're atteneding and provided an email we will shortly be emailing you with details :)
    //- else
    //-     include rsvpPug.pug

    //- include divider.pug

    div(class="parallax slide-2")



