<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script type="text/javascript" src="../static/local.js"></script>
<link rel="stylesheet" href="../static/stylesheets/style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
    <div class="App">
        <div class="parallax slide-3">
            <img id="welcome" src=../static/images/welcome.svg>
        </div>

        <div class="content-text" id="info">
            <div class="section-header text-center">
                <h1>Welcome to our wedding site</h1>
            </div>
            We are getting married in the Chateau de Beduer, a little village in Lot, France on Saturday 27th June 2020 and would
            love for you to join us! <br/><br/>From Friday to Monday we have the exclusive use for the Chateau, grounds and Gites for the
            wedding and the weekend festivities.
        </div>

        <div class="divider"><span></span><span>♥</span><span></span></div>
        <div class="container-fluid" id="timeline">
            <div class="section-header text-center">
                <h1>So what is happening?</h1>
            </div>
            <div class="row">
                <div class="col-lg travel-blurb">
                    <div class="card">
                        <img class="card-img-top direction-img" style="background-color: white" src="../static/images/Friday.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Friday</h4>
                            <p class="card-text">Around 7pm we will be hosting an informal welcome dinner in the garden, where the village tavern will
                                be providing pizzas and salads.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg travel-blurb">
                    <div class="card ">
                        <div>
                            <img class="card-img-top direction-img" style="width:350px;" src="../static/images/Saturday.png" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Satruday</h4>
                            <p class="card-text">The ceremony will be held in the Chateau grounds and wills start at 4pm, please arrive for 3.30pm. Please
                                feel free to take the opportunity to spend the morning and early afternoon relaxing at the pool and
                                discovering the local area.<br/>
                                <br/>
                                The ceremony will be followed by canapes, the wedding breakfast and entertainment.<br/>
                                <br/>
                                The dress code is cocktail attire or dressy casual. Ladies – if wearing heels, please be aware that the
                                ceremony will be on grass and dancing on gravel.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg travel-blurb">
                    <div class="card ">
                        <div>
                            <img class="card-img-top direction-img" id="bbq-man" src="../static/images/sunday.jpg" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Sunday</h4>
                            <p class="card-text">The caterers will be coming back and providing a BBQ after midday for a relaxed afternoon in the sun. If
                                the hangovers permits, we will organising a sports day so get practicing your egg and spoon skills!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider"><span></span><span>♥</span><span></span></div>
        <div class="container-fluid" id="where">
            <div class="section-header text-center">
                <h1>So where is this?</h1>
            </div>
            <div class="row">
                <div class="col-lg" style="min-height:440px;">
                    <iframe class="rounded-right rounded-left" width="100%" height="100%" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWbIjZVIarRIR_WkmnuHhidc&key=AIzaSyC14ePrxBCOqEIJJIsAMZX357cbVEV_9BQ&zoom=5" allowfullscreen></iframe>
                </div>
                <div class="col-lg pt-3 pt-lg-0" id="beduer-col">
                    <div id="beduer">
                        <h2>Bedeur</h2>
                        <div>
                        Located in the small village of Bedeur France, about a 15 minute drive from the town of Fijac.
                        <div class="row">
                            <div class="col-4">
                                <img class="img-thumbnail beduer-image" src=../static/images/beduer-1.jpg>
                            </div>
                            <div class="col-4">
                                <img class="img-thumbnail beduer-image" src=../static/images/beduer-3.jpg>
                                <img class="img-thumbnail beduer-image" src=../static/images/beduer-4.jpg>
                            </div>
                            <div class="col-4">
                                <img class="img-thumbnail beduer-image" src=../static/images/beduer-2.jpg>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider"><span></span><span>♥</span><span></span></div>
        <div class="container-fluid" id="directions">
            <div class="section-header text-center">
                <h1>How do I get there from ...</h1>
            </div>
            <div class="row">
                <div class="col-lg travel-blurb">
                    <div class="card">
                        <div>
                            <img id="uk-man" class="card-img-top direction-img" src="../static/images/england.jpg" alt="Card image" >
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">England</h4>
                            <p class="card-text"><em>Most of the 2020 flights have not been released yet but based on summer 2019:</em><br/>
                                <br/>
                                <strong>Brive (1 hr drive):</strong><br/>
                                Stansted - Ryanair flies 2 times a week<br/>
                                <br/>
                                <strong>Rodez (1 hr drive):</strong><br/>
                                Stansted - Ryanair flies 2 times a week<br/>
                                <br/>
                                <strong>Toulouse (1 hr 50 drive):</strong><br/>
                                Stansted, Gatwick, Heathrow & Luton – daily flights<br/>
                                Manchester - Flybe flies 5 days a week<br/>
                                <br/>
                                <strong>Limoges (2 hr drive):</strong><br/>
                                Leeds & Manchester – Ryanair flies 2/3 days Stansted – daily flights<br/>
                                <br/>
                                <strong>Bergerac (2 hr 20 drive):</strong><br/>
                                Leeds/Bradford – Jet2 flies 1-2 times a week<br/>
                                <br/>
                                <strong>Bordeaux (3 hr drive):</strong><br/>
                                Manchester – Ryanair & Easyjet flies 2 times a week<br/>
                                Stansted, Gatwick, Heathrow & Luton – daily flights</p>
                        </div>
                     </div>
                </div>
                <div class="col-lg travel-blurb">
                    <div class="card ">
                        <img id="canada-man" class="card-img-top direction-img" src="../static/images/canada.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Canada</h4>
                            <p class="card-text"><em>Flights from Montreal to Europe are already released for June 2020!</em><br/>
                                <br/>
                                <strong>Paris CDG (Train, 5 hr drive or internal flight):</strong><br/>
                                Daily direct flights<br/>
                                Air Transat seems the cheapest<br/>
                                <br/>
                                <strong>Toulouse (2 hr drive):</strong><br/>
                                Direct flights with Air Transat 4 times a week<br/>
                                <br/>
                                <strong>Bordeaux (3 hr drive):</strong><br/>
                                Direct flights with Air Transat 4 times a week</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg travel-blurb">
                    <div class="card ">
                        <div>
                            <img id="french-man" class="card-img-top direction-img" src="../static/images/france.jpg" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">France</h4>
                            <p class="card-text"><em>Below is some information on trains in the area and local flights.</em><br/>
                                <br/>
                                <strong>Trains from Brive:</strong><br/>
                                Direct trains to Figeac take an hour 15 mins.<br/>
                                Figeac is 15 mins drivr to Beduer<br/>
                                <br/>
                                <strong>Trains from Paris:</strong><br/>
                                Direct trains to Brive takes 4-5hrs<br/>
                                Trains to Figeac require a change at Brive. Figeac is 15 mins driv3 to Beduer<br/>
                                <br/>
                                <strong>Internal flights from Paris:</strong><br/>
                                Multiple flights a day to Brive & Rodez both which are an hour drive to Beduer<br/>
                                <br/>
                                <strong>Trains from Toulouse:</strong><br/>
                                Direct trains to Capendac (2 hrs 15 mins) which is 15 mins to Beduer</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>

        <div class="divider"><span></span><span>♥</span><span></span></div>
        <div class="container-fluid" id="sleeping">
            <div class="section-header text-center">
                <h1>Where can I stay?</h1>
            </div>
            <div class="row">
                <div class="col-lg pt-3 pt-lg-0" id="sleeping-col">
                    <div id="castleAccomadation">
                        <div>
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-thumbnail beduer-image" src=../static/images/bedroom-1.png>
                                </div>
                                <div class="col-4">
                                    <img class="img-thumbnail beduer-image" src=../static/images/bedroom-3.png>
                                </div>
                                <div class="col-4">
                                    <img class="img-thumbnail beduer-image" src=../static/images/bedroom-2.jpg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg">

                    To allow our friends and family to share the
                    weekend festivities, we have secured enough
                    accommodation for everyone from Friday
                    afternoon to Monday morning.<br/>
                    <br/>
                    The accommodation consists of rooms in
                    Chateau and three Gites in the Chateau grounds.
                    The Chateau and Gites each come with their own
                    living, kitchen and dining facilities and swimming
                    pool.<br/>
                    <br/>
                    We will be providing a continental breakfast
                    around the Chateau pool with croissants and
                    bread from the local bakery.<br/>
                    The accommodation cost is €175 per person for
                    the weekend.<br/>
                    If you would prefer to source your own
                    accommodation, the town of Figeac is 15
                    minutes drive away.
                </div>
            </div>
        </div>
        <div class="divider"><span></span><span>♥</span><span></span></div>

        <div class="container-fluid" id="rsvp">
            <div class="section-header text-center">
                <h1>RSVP</h1>
            </div>
        <form id="rsvp-form" class="rounded-right rounded-left" >
            <div class="form-group col-6 offset-3">
                <label for="rsvp-name">Names</label>
                <input type="text" class="form-control" id="rsvp-name" name="rsvpname">

            </div>
            <div class="form-group col-6  offset-3">
                <label for="joiningfor">I'll be joining you for:</label>
                <select multiple class="form-control" id="joiningfor" name="joiningfor">
                    <option for="firday">Friday Night Pizzas</option>
                    <option selected for="saturday">Saturday Wedding</option>
                    <option for="sunday">Sunday BBQ</option>
                </select>
            </div>
            <div class="form-group col-6  offset-3" id="accomadation">
                Would you like to use our sourced accomadation and stay at the Cheateau?
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="accomadation" id="yesaccomadate" value="yesaccomadate" checked>
                    <label class="form-check-label" for="yesaccomadate">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="accomadation" id="noaccomadate" value="noaccomadate">
                    <label class="form-check-label" for="noaccomadate">
                        No
                    </label>
                </div>
            </div>
            <button class="btn btn-primary" >Submit</button>
        </form>

    </div>
        <div class="divider"><span></span><span>♥</span><span></span></div>
    </div>


</body>
</html>