div(class="container-fluid" id="sleeping")
    div(class="section-header text-center")
        h1 So do you have somewhere I can stay?
    div(class="row")
        div(class="col-lg" style="margin-top:auto; margin-bottom:auto")

            | To allow our friends and family to share the weekend festivities, we have secured enough accommodation for everyone from Friday afternoon to Monday morning.
            br
            br
            | The accommodation consists of rooms in Chateau and three Gites in the Chateau grounds. The Chateau and Gites each come with their own living, kitchen and dining facilities and swimming pool.
            br
            br
            | We will be providing a continental breakfast around the Chateau pool with croissants and bread from the local bakery.
            br
            | If you would like to stay at the Chateau with us please let us know in the RSVP form and we'll send the discounted pricing info for the Chateau.
            br
            | If you would prefer to source your own accommodation, the town of Figeac is 15 minutes drive away.

        div(class="col-lg pt-3 pt-lg-0" id="sleeping-col")
            div(id="castleAccomadation")
                div
                    div(class="row")
                        div(class="col-xs" style="margin:auto;")
                            img(class="img-thumbnail beduer-image" src="/static/images/bedroom-1.png")
                        div(class="col-xs" style="margin:auto;")
                            img(class="img-thumbnail beduer-image" src="/static/images/bedroom-3.png")
                        div(class="col-xs" style="margin:auto;")
                            img(class="img-thumbnail beduer-image" src="/static/images/bedroom-2.jpg")
