div(class="container-fluid" id="where")
    div(class="section-header text-center")
        h1 So where is this?

    div(class="row")
        div(class="col-lg" style="min-height:440px;")
            iframe(class="rounded-right rounded-left" width="100%" height="100%" frameborder="0" style="border:0; height:440px" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWbIjZVIarRIR_WkmnuHhidc&key=AIzaSyC14ePrxBCOqEIJJIsAMZX357cbVEV_9BQ&zoom=5")

        div(class="col-lg pt-3 pt-lg-0" id="beduer-col")
            |     Located in the small village of Bedeur France, about a 15 minute drive from the town of Fijac is the castle of Bedeur.  THe castle has been around for ages.



