div(class="container-fluid" id="where")
    div(class="section-header text-center")
        h1 So where is this?

    div(class="row")
        div(class="col-lg" style="min-height:440px;")
            iframe(class="rounded-right rounded-left" width="100%" height="100%" frameborder="0" style="border:0; height:440px" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWbIjZVIarRIR_WkmnuHhidc&key=AIzaSyC14ePrxBCOqEIJJIsAMZX357cbVEV_9BQ&zoom=5")

        div(class="col-lg pt-3 pt-lg-0" id="beduer-col")
            | Located in the small village of Bedeur France, about a 15 minute drive from the town of Fijac is the castle of Bedeur.  The castle is built on a rocky outcrop overlooking the valley of the River Cele.  High walls on three sides and a dry moat on the fourth side meant the castle was a formidable castle throughout most of its history.
            br
            br
            | First records of the chateau date back to the 11th century when it was owned the Barascs family.  The Barascs family was a significant fighting family having lead successful campaigns during the hundred years war against the english and defending their castle against the protestants during the 16th century wars of religion.
            br
            | The chateau has plenty of on-site parking if you drive or rent a car (recommended).  If you don't have a car let us know and we can organize a pick up.



